<div class="lan-editor-card">
  <div class="d-flex table-responsive justify-content-between lan-editor-header">
    <table style="empty-cells:hide;">
      <td (click)="makeBold()"><img class="lan-btn-img-sm" src="assets/004-bold.png"></td>
      <td (click)="makeItalic()"><img class="lan-btn-img-sm" src="assets/031-italic.png"></td>
      <td (click)="makeUnderLine()"><img class="lan-btn-img-sm" src="assets/057-underline.png"></td>
      <td (click)="makeStrikeThrough()"><img class="lan-btn-img-sm" src="assets/053-strikethrough.png"></td>
      <td>
        <div id="dropdownHeaderMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><img class="lan-btn-img"
            src="assets/more-options.png"></div>
        <div class="dropdown-menu" aria-labelledby="dropdownHeaderMenuButton">
          <a class="dropdown-item lan-editor-dropdown-text" (click)="makeHeader1()"><img class="lan-btn-img"
              src="assets/type-h1.png"> Header 1</a>
          <a class="dropdown-item lan-editor-dropdown-text" (click)="makeHeader2()"><img class="lan-btn-img"
              src="assets/type-h2.png"> Header 2</a>
          <a class="dropdown-item lan-editor-dropdown-text" (click)="makeNormal()"><img class="lan-btn-img-sm"
              src="assets/text.png"> Normal Text</a>
        </div>
      </td>
      <td class="lan-btn-sec-divider">
        <div class="lan-btn-img"></div>
      </td>
      <td (click)="alignLeft()"><img class="lan-btn-img" src="assets/left-align.png"></td>
      <td (click)="alignCenter()"><img class="lan-btn-img" src="assets/center-align.png"></td>
      <td (click)="alignRight()"><img class="lan-btn-img" src="assets/right-align.png"></td>
      <td class="lan-btn-sec-divider">
        <div class="lan-btn-img"></div>
      </td>
      <td (click)="triggerFontColorPicker()"><input class="lan-btn-hidden" type="color" id="lan-font-col-picker"
          [(ngModel)]="fontColor" (ngModelChange)="setFontColor()"><img class="lan-btn-img"
          src="assets/040-paint bucket.png"></td>
      <td (click)="triggerHighlightColorPicker()"><input class="lan-btn-hidden" type="color"
          id="lan-highlight-col-picker" [(ngModel)]="highlightColor" (ngModelChange)="setHighLightColor()"><img
          class="lan-btn-img" src="assets/030-highlighter.png"></td>
      <td (click)="superScript()"><img class="lan-btn-img" src="assets/055-superscript.png"></td>
      <td (click)="subScript()"><img class="lan-btn-img" src="assets/054-subscript.png"></td>
      <td class="lan-btn-sec-divider">
        <div class="lan-btn-img"></div>
      </td>
      <td (click)="cut()"><img class="lan-btn-img" src="assets/013-cut.png"></td>
      <td (click)="copy()"><img class="lan-btn-img" src="assets/011-copy.png"></td>
      <td>
        <div id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><img class="lan-btn-img"
            src="assets/more-options.png"></div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item lan-editor-dropdown-text"><img class="lan-btn-img" src="assets/coding.png"> Format as
            Code</a>
          <a class="dropdown-item lan-editor-dropdown-text"><img class="lan-btn-img" src="assets/exclamation.png">
            Format as Note</a>
        </div>
      </td>
    </table>

    <div style="display: flex;">
      <div class="align-self-center" (click)="reloadData()" style="cursor: pointer;"><span
          class="material-icons lan-btn-img">restart_alt</span></div>
      <div class="align-self-center" (click)="saveData()" style="cursor: pointer;"><span
          class="material-icons lan-btn-img" style="color: #286bf1">save</span></div>
    </div>
  </div>

  <div style="border-bottom: 0.5px solid #ededed;"></div>

  <div id="laniak-base-editing-field" class="laniak-editing-passage" contenteditable="true" (keyup)="countWords()">
    Type something
  </div>

  <div style="border-bottom: 0.5px solid #ededed;"></div>

  <div class="d-flex table-responsive justify-content-between lan-editor-footer">
    <div class="lan-supressed-text">
      Powered by <img src="assets/logoDesign.png" width="15" height="15"> <b> LANIAK</b>
    </div>

    <div class="lan-supressed-text">
      <span>{{this.wordCount}}</span> words
    </div>
  </div>

</div>